#rotating-item-wrapper {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 0 43px;
}
.rotating-item {
	width:500px;
	height:500px;
	margin: 0 auto;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	border: 9px solid #ccccff;
}