@CHARSET "ISO-8859-1";

/* ---------------------------------------------- */
/* Chapter 12: Style Sheets for Mobile to Desktop */
/*		  (base styles for all devices only)	  */
/* ---------------------------------------------- */


/* =================================================== */
/* =========== Base Styles for All Devices =========== */
/* =================================================== */

/* CSS RESET
------------------------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<style>

	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
</style>


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
	
/* Prevent mobile zooming while remain desktop zooming.
	github.com/shichuan/mobile-html5-boilerplate/issues/closed#issue/14
	*/
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}



#gmp{
	width: 1200px;
	margin: 0 auto;
}
#gmp a {
	
	
}
#gmp img {
	width: 540px;
	margin: 0 auto;
	margin-bottom: 40px;
	
}

iframe{
	display: Block;
	width: 970px;
	height: 586px;
}

#catalog{
	width: 100px;
	border: 1px solid #000;
			-webkit-border-top-left-radius:0px;
			-webkit-border-top-right-radius:0px;
			-webkit-border-bottom-right-radius:30px;
			-webkit-border-bottom-left-radius:30px;
			-moz-border-top-left-radius:0px;
			-moz-border-top-right-radius:0px;
			-moz-border-bottom-right-radius:30px;
			-moz-border-bottom-left-radius:30px;
			border-top-left-radius:0px;
			border-top-right-radius:0px;
			border-bottom-right-radius:30px;
			border-bottom-left-radius:30px;
		text-decoration: none;
		text-align: center;
		list-style-type: none;
		font: bold 2.5em;
		color: #000;
	
}